{% extends "main.html" %}
{% load i18n %}
{% block title %}
    {% trans "about_h1_about" %}
{% endblock %}
{% block description %}
    {% trans "about_text" %}
{% endblock %}
{% block main %}
    <ol class="breadcrumb">
        <li><a href="{% url "index" %}">{% trans "breadcrumb_mainpage" %}</a></li>
        <li class="active">{% trans "breadcrumb_about" %}</li>
    </ol>
    <h1>{% trans "about_h1_about" %}</h1>
    <!--{% trans "about_text" %}-->
    Эта часть сайта находиться в разработке.
{% endblock %}