{% extends "main.html" %}
{% load i18n %}
{% block main %}
    <header class="jumbotron">
        <h1>{% trans "Free Adobe Illustrator scripts" %}</h1>
        <p>{% trans "main_text" %}</p>
        <a href="{% url "category" pk=1 %}" class="btn btn-primary">{% trans "Download scripts" %}</a>
    </header>
    <hr>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "How install and use" %}</h3>
                    <p>{% trans "text_use" %}</p>
                    <p>
                        <a href="{% url "how2use" %}" class="btn btn-primary">{% trans "Install and Use" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "Our project" %}</h3>
                    <p>{% trans "text_about" %}</p>
                    <p>
                        <a href="{% url "about" %}" class="btn btn-primary">{% trans "About" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "Contact as" %}</h3>
                    <p>{% trans "text_contact" %}</p>
                    <p>
                        <a href="{% url "contact" %}" class="btn btn-primary">{% trans "Contacts" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "Our team" %}</h3>
                    <p>{% trans "text_team" %}</p>
                    <p>
                        <a href="{% url "team" %}" class="btn btn-primary">{% trans "Our team" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}