{% extends "main.html" %}
{% load i18n %}
{% block title %}
    {% trans "main_h1_caption" %}
{% endblock %}
{% block description %}
    {% trans "main_text" %}
{% endblock %}
{% block main %}
    <header class="jumbotron">
        <h1>{% trans "main_h1_caption" %}</h1>
        <p>{% trans "main_text" %}</p>
        <a href="{% url "category" pk=1 %}" class="btn btn-primary">{% trans "main_btn_download_scripts" %}</a>
    </header>
    <hr>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "main_h3_how_install_and_use" %}</h3>
                    <p>{% trans "main_text_use" %}</p>
                    <p>
                        <a href="{% url "how_to_use" %}" class="btn btn-primary">{% trans "main_btn_install_and_use" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "main_h3_our_project" %}</h3>
                    <p>{% trans "main_text_about" %}</p>
                    <p>
                        <a href="{% url "about" %}" class="btn btn-primary">{% trans "main_btn_about" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "main_h3_contact_as" %}</h3>
                    <p>{% trans "main_text_contact" %}</p>
                    <p>
                        <a href="{% url "contact" %}" class="btn btn-primary">{% trans "main_btn_contacts" %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div >
                    <h3>{% trans "main_h3_our_team" %}</h3>
                    <p>{% trans "main_text_team" %}</p>
                    <p>
                        <a href="{% url "team" %}" class="btn btn-primary">{% trans "main_btn_our_team" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}