{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}">DanteOnline</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url "category" pk=6 %}">{% trans "menu_scripts" %}</a>
                    </li>
                    <li>
                        <a href="{% url "contact" %}">{% trans "menu_contacts" %}</a>
                    </li>
                    <li>
                        <a href="{% url "how_to_use" %}">{% trans "menu_install_and_use" %}</a>
                    </li>
                    <li>
                        <a href="{% url "about" %}">{% trans "menu_about" %}</a>
                    </li>
                    <!--<li>
                        <a href="{% url "faq" %}">FAQ</a>
                    </li>-->
                    <li>
                        <a href="{% url "team" %}">{% trans "menu_our_team" %}</a>
                    </li>
                    <li class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{% trans "menu_language" %}</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% get_available_languages as languages %}
                        {% for lang_code, lang_name in languages %}
                            <li><a href="/{{lang_code}}">{{lang_name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="row">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DanteOnline 2016</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}