{% extends "main.html" %}
{% load i18n %}
{% block main %}
<div class="col-md-3">
        <!--<p class="lead">{% trans "Shop name" %}</p>-->
        <div class="list-group">
            {% for top in top_list %}
                <!--Выпадающий список
                <div class="dropdown">
                  <a href="{{top.get_url}}" data-toggle="dropdown" class="list-group-item dropdown-toggle">
                    {{top.name}}
                    <b class="caret_right"></b>
                  </a>
                  <ul class="dropdown-menu open_left">
                      {% for c in top.get_children %}
                          <li><a href="{{c.get_url}}">{{c.name}}</a></li>
                      {% endfor %}
                  </ul>
                </div>-->
              <a href="{{top.get_url}}" class="list-group-item">
                {{top.name}}
              </a>
              <ul class="left_menu">
                  {% for c in top.get_children %}
                      <li ><a class="list-group-item list-group-item-sub" href="{{c.get_url}}">{{c.name}}</a></li>
                  {% endfor %}
              </ul>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% block scripts %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}