{% extends "scripts.html" %}
{% load i18n %}
{% block scripts %}
    <ol class="breadcrumb">
        <li><a href="{% url "index" %}">{% trans "mainpage" %}</a> </li>
        {% if object.has_parent %}
            <li><a href="{{object.parent.get_url}}">{{object.parent.name}}</a> </li>
        {% endif %}
        <li class="active">{{object.name}}</li>
    </ol>
        <h1>{{object.name}}</h1>
        {% for item in object.get_items %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <!--<img src="{{item.image.url}}" alt="item.name">-->
                    <a href="" data-toggle="modal" data-target="#myModal">
                        <div>
                            <div class="left_img">
                                <div class="img_desc">{% trans "Before" %}</div>
                                <img src="{{item.start.url}}" alt="item.name">
                            </div>
                            <div class="right_img">
                                <div class="img_desc">{% trans "After" %}</div>
                                <img src="{{item.end.url}}" alt="item.name">
                            </div>
                        </div>
                    </a>

                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans "Example" %}</h4>
                          </div>
                            <div class="modal-body he-picts">
                                <p>
                                    <div>
                                        <div class="left_img">
                                            <div class="img_desc">{% trans "Before" %}</div>
                                            <img src="{{item.start.url}}" alt="item.name">
                                        </div>
                                        <div class="right_img">
                                            <div class="img_desc">{% trans "After" %}</div>
                                            <img src="{{item.end.url}}" alt="item.name">
                                        </div>
                                    </div>
                                </p>
                              </div>
                            <div class="modal-footer">
                                <p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                </p>
                             </div>
                        </div>
                      </div>
                    </div>

                    <div class="caption">
                        <div><a href="{{item.shutter_url}}">{% trans "see example in shuttrstock-portfolio " %}</a> </div>
                        <h5 class="pull-right"><a href="{{item.get_url}}">{% trans "Read more..." %}</a></h5>
                        <h4><a href="{{item.get_url}}">{{item.name}}</a>
                        </h4>
                        <p>{{item.short_desc}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{item.comment_count}} {% trans "reviews" %}</p>
                        <p>
                            <a class="btn btn-primary" href="{{item.load_file.url}}">{% trans "download free" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}