{% extends "scripts.html" %}
{% load comments %}
{% load i18n %}
{% block title %}
    {% if object.category.has_parent %}
            {{object.category.parent.name}}:
    {% endif %}
        {{object.category.name}}:
        {{object.name}}
{% endblock %}
{% block description %}
    {{object.short_desc}}
{% endblock %}
{% block scripts %}
<ol class="breadcrumb">
    <li><a href="{% url "index" %}">{% trans "mainpage" %}</a> </li>
    {% if object.category.has_parent %}
        <li><a href="{{object.category.parent.get_url}}">{{object.category.parent.name}}</a> </li>
    {% endif %}
    <li><a href="{{object.category.get_url}}">{{object.category.name}}</a> </li>
    <li class="active">{{object.name}}</li>
</ol>
<div class="thumbnail">
    <div class="he-picts450">
        <div class="left_img">
            <div class="img_desc">{% trans "Before" %}</div>
            <img class="img-responsive" src="{{object.start.url}}" alt="object.name">
        </div>
        <div class="right_img">
            <div class="img_desc">{% trans "After" %}</div>
            <img class="img-responsive" src="{{object.end.url}}" alt="object.name">
        </div>
    </div>
    <div class="caption-full">
        <h4 class="pull-right"><a class="btn btn-primary" href="{{object.load_file.url}}">{% trans "DOWNLOAD FREE" %}</a></h4>
        <h1>{{object.name}}
        </h1>
        <p>{{object.get_full_desc}}</p>
    </div>
    <div class="ratings">
        <p class="pull-right">{{object.comment_count}} {% trans "reviews" %}</p>
        <p>
            <a href="{{object.shutter_url}}">{% trans "see example in shuttrstock-portfolio " %}</a>
        </p>
    </div>
</div>
<div class="panel-group" id="accordion">
{% if object.has_params %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#params">{% trans "item_params" %}</a>
                </h4>
            </div>
            <div id="params" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>{% trans "item_param_name" %}</th>
                            <th>{% trans "item_param_description" %}</th>
                            <th>{% trans "item_param_default_value" %}</th>
                        </tr>
                        {% for param in object.get_params %}
                            <tr>
                                <td>{{param.name}}</td>
                                <td>{{param.desc}}</td>
                                <td>{{param.default_value}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% if object.video_url %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#htu">{% trans "item_how_to_use" %}</a>
                </h4>
            </div>
            <div id="htu" class="panel-collapse collapse">
                <div class="panel-body">
                    {{object.video_html|safe}}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="well">
    <div class="text-right">
        <a class="btn btn-success" data-toggle="modal" data-target="#myModal">{% trans "Leave a Review" %}</a>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Leave a Review" %}</h4>
          </div>
          <div class="modal-body">
            <p>
                {% get_comment_form for object as form %}
                <div class="form">
                    <form action="{% comment_form_target %}" method="post" id="comment_form">
                        {% include "generic/form.html" %}
                        <input type="hidden" name="next" value="{{object.get_url}}">
                        <div id="result" style="margin-bottom: 20px"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">{% trans "Leave a Review" %}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                         </div>
                    </form>
                </div>
            </p>
          </div>
          </div>
      </div>
    </div>

    <hr>

    {% if object.comment_count == 0 %}
        <div class="row">
            <div class="col-md-12">
                <p>{% trans "No reviews. You will be first" %}</p>
            </div>
        </div>
    {% else %}
        {% render_comment_list for object %}
    {% endif %}

</div>
{% endblock %}


{% block add_js %}
    {% load staticfiles %}
    <script src="{% static "site/js/jquery.form.js" %}"></script>
    <script src="{% static "site/js/jquery.validate.js" %}"></script>
    <script type="text/javascript">
        $('document').ready(function(){
		$('#comment_form').validate(
		{
			//Правила
			rules:{
				"name":{ required:true, maxlength:40 },
				"email":{ required:true, email: true },
				"comment":{ required:true },
			},
			//Текста предупреждений
			messages:{
				"name":{ required:"<br/><span style='color:red;'>{% trans "Enter your name" %}</a>",
                maxlength: "<br/><span style='color:red;'>{% trans "40 max simbols" %}</a>" },
				"email":{ required:"<br/><span style='color:red;'>{% trans "Enter your email" %}</a>",
				email: "<br/><span style='color:red;'>{% trans "Wrong email number" %}</a>"},
				"comment":{required:"<br/><span style='color:red;'>{% trans "Enter your comment" %}</a>"}
			},
		})
	});
    </script>
{% endblock %}